
.ui-header, .ui-footer, .ui-page-fullscreen .ui-header, .ui-page-fullscreen .ui-footer {
    width:auto;
}   
.ui-icon-qo-heart {
	background-image: url(/images/icons-qo-white.png);
        background-position: -0 50%;
}
.ui-icon-qo-plus1 {
	background-image: url(/images/icons-qo-white.png);
        background-position: -36px 50%;
}
.ui-icon-qo-broke-heart {
	background-image: url(/images/icons-qo-white.png);
        background-position: -72px 50%;
}
.ui-icon-qo-light-bulb {
	background-image: url(/images/icons-qo-white.png);
        background-position: -108px 50%;
}
.ui-icon-qo-money {
	background-image: url(/images/icons-qo-white.png);
        background-position: -144px 50%;
}
.ui-icon-qo-fire {
	background-image: url(/images/icons-qo-white.png);
        background-position: -180px 50%;
}
.ui-icon-qo-huh {
	background-image: url(/images/icons-qo-white.png);
        background-position: -216px 50%;
}
.ui-icon-qo-all {
	background-image: url(/images/icons-qo-white.png);
        background-position: -252px 50%;
}
.ui-icon-qo-book {
	background-image: url(/images/icons-qo-white.png);
        background-position: -288px 50%;
}
.ui-icon-qo-edit, .toolbox .ui-icon .ui-icon-qo-edit {
	background-image: url(/images/icons-qo-white.png);
        background-position: -324px 50%;
}
.ui-icon-qo-star {
	background-image: url(http://code.jquery.com/mobile/1.1.0/images/icons-18-white.png);
        background-position: -468px 50%;
}
.ui-listview .ui-btn-icon-left .ui-btn-inner {padding-left: 30px;}
.toolbox {
    font-size: 80%;
    float:right;
    clear:right;
}
.toolbox div {
    float:left;
}
.toolbox div:last-child {
    float:right;
    padding-top:12px;
}
.toolbox .ui-icon {
    background-color: #6E28A6;
}
#search {
    font-size: 20px;
    color: black;
}
#support_ticket_form label {
    font-weight: bold;
    clear: both;
    display:block;
    padding-bottom:8px;
}

#support_ticket_form small {
    clear: both;
    display:block;
    padding-bottom:8px;
}
.ui-body-e, .ui-overlay-e {
    border: 1px solid #FF9400;
}

#welcome  .content-primary{
    background: none;
}
.ui-btn-text {
    position: static;
}
.hide_welcome  { 
    display:block;
}
.content-secondary,.show_wide, #welcome .hide_welcome  {
    display:none;
}
.type-interior .content-secondary {
    border-right: 0;
    border-left: 0;
    margin: 10px -15px 0;
    background: #fff;
    border-top: 1px solid #ccc;
}
.type-home .ui-content {
    margin-top: 5px;
}
.type-interior .ui-content {
    padding-bottom: 0;
}
.content-secondary .ui-collapsible {
    padding: 0 15px 10px;
}
.content-secondary .ui-collapsible-content {
    padding: 0;
    background: none;
    border-bottom: none;
}
.content-secondary .ui-listview {
    margin: 0;
}
#update_message h3 {
    display:inline-block; 
    width:92%; 
    margin-top:5px; 
    float:left;
}
#update_message div.dismiss_update_message {
    display:inline-block; 
    width:8%; 
    margin-top:0px;
}
#update_message a.dismiss_update_message {
    float:right;
}
#update_message p {
    font-size:85%; 
    float:left; 
    margin:-.3em 0 1em;
}
/* labels */
.label
{
    border-style: solid;
    border-width: 1px 0px;
    margin: 0 0.8em 0 1px;
    font-weight: normal;
    color: White; 
    float: left;
    font-size: .6em;
    font-family: Verdana; 
}
.label div
{
    border-style: solid;
    border-width: 0 1px;
    margin: 0 -1px;
    padding: .2em 0;
    overflow: hidden;
}
.label div span
{
    padding: 0.2em 0.6em;
    font-size: 100%;
}

/* Topic Styles */
.label-problem {
    border-color: #AF0000; 
    background-color: #DB7272; 
    text-shadow: 0 1px 0 #AF0000;
}
.label-problem div {
    border-color: #AF0000; 
}
.label-question {
    border-color: #05528C; 
    background-color: #2F9AD5; 
    text-shadow: 0 1px 0 #05528C;
}
.label-question div {
    border-color: #05528C; 
}
.label-idea {
    border-color: #D37225; 
    background-color: #FF9D12;  
    text-shadow: 0 1px 0 #D37225;
}
.label-idea div {
    border-color: #D37225; 
}
.label-praise {
    border-color: #2F8E00; 
    background-color: #4DBF15;  
    text-shadow: 0 1px 0 #2F8E00;
}
.label-praise div {
    border-color: #2F8E00; 
}
.label-update {
    border-color: #6E28A6; 
    background-color: #9F5FDA;  
    text-shadow: 0 1px 0 #6E28A6;
}
.label-update div {
    border-color: #6E28A6; 
}

/* Topic Status */
.label-complete {
    border-color: #307a00; 
    background-color: #72AD29;
    text-shadow: 0 1px 0 #307a00;
}
.label-complete div {
    border-color: #307a00; 
}
.label-pending {
    border-color: #DB8A00; 
    background-color: #FFBC42;
    text-shadow: 0 1px 0 #DB8A00;
}
.label-pending div {
    border-color: #DB8A00; 
}
.label-rejected {
    border-color: #666; 
    background-color: #999; 
    text-shadow: 0 1px 0 #666;
}
.label-rejected div {
    border-color: #666; 
}
.label-active {
    border-color: #666; 
    background-color: #999; 
    text-shadow: 0 1px 0 #666;
}
.label-active div {
    border-color: #666; 
}

/* MISC over rides */
.ui-body-c,
.ui-overlay-c {
	border: 1px solid #aaa /*{c-body-border}*/;
	color: #333333 /*{c-body-color}*/;
	text-shadow: 0 /*{c-body-shadow-x}*/ 1px /*{c-body-shadow-y}*/ 0 /*{c-body-shadow-radius}*/ #fff /*{c-body-shadow-color}*/;
	background: #f9f9f9 /*{c-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f9f9f9 /*{c-body-background-start}*/), to( #e8e8e8 /*{c-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #f9f9f9 /*{c-body-background-start}*/, #e8e8e8 /*{c-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #f9f9f9 /*{c-body-background-start}*/, #e8e8e8 /*{c-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #f9f9f9 /*{c-body-background-start}*/, #e8e8e8 /*{c-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #f9f9f9 /*{c-body-background-start}*/, #e8e8e8 /*{c-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #f9f9f9 /*{c-body-background-start}*/, #e8e8e8 /*{c-body-background-end}*/);
}

.qo-checkbox .ui-checkbox .ui-icon {
        -moz-border-radius: 9px;
        -webkit-border-radius: 9px;
        border-radius: 9px;
}
.qo-checkbox .ui-icon-checkbox-off, .qo-checkbox .ui-checkbox-on .ui-icon {
        background-color: #666;
        background-color: rgba(0, 0, 0, .4);
}
.qo-checkbox .ui-corner-left {
        -moz-border-radius-topleft: 1em;
        -webkit-border-top-left-radius: 1em;
        border-top-left-radius: 1em;
        -moz-border-radius-bottomleft: 1em;
        -webkit-border-bottom-left-radius: 1em;
        border-bottom-left-radius: 1em;
}
.qo-checkbox .ui-corner-right {
        -moz-border-radius-topright: 1em;
        -webkit-border-top-right-radius: 1em;
        border-top-right-radius: 1em;
        -moz-border-radius-bottomright: 1em;
        -webkit-border-bottom-right-radius: 1em;
        border-bottom-right-radius: 1em;
}

@media all and (max-width: 360px){
    #gplus { display: none;}
}

@media all and (min-width: 650px){
    #welcome  .content-primary {
        background: url(/images/qo_watermark_logo.png) no-repeat center center;
        background-size: 100%;

    }
    .show_wide {
        display:block;
    }
    .content-primary .hide_wide  {
        display:none;
    }
    .type-home .ui-content {
        margin-top: 5px;
    }
    .ui-mobile #jqm-homeheader {
        max-width: 340px;
    }
    .ui-mobile .jqm-themeswitcher {
        float: right;
    }
    p.intro {
        margin: 2em 0;
    }
    .type-home .ui-content,
    .type-interior .ui-content {
        padding: 0;
        background: url(/images/px-ccc.gif) 50% 0 repeat-y;
    }
    .type-interior .ui-content {
        background-position: 45%;
        overflow: hidden;
    }
    .content-secondary {
        text-align: left;
        float: left;
        width: 45%;
        background: none;
        display:block;
    }
    .content-secondary,
    .type-interior .content-secondary {
        margin: 30px 0 20px 2%;
        padding: 20px 4% 0 0;
        background: none;
        border-top: none;
    }
    .type-index .content-secondary {
        padding: 0;
    }
    .content-secondary .ui-collapsible {
        margin: 0;
        padding: 0;
    }
    .content-secondary .ui-collapsible-content {
        border: none;
    }
    .type-index .content-secondary .ui-listview {
        margin: 0;
    }
    .ui-mobile #jqm-homeheader {
        padding: 0;
    }
    .content-primary {
        width: 45%;
        float: right;
        margin-top: 30px;
        margin-right: 1%;
        padding-right: 1%;
    }
    .content-primary ul:first-child {
        margin-top: 0;
    }
    .content-secondary h2 {
        position: absolute;
        left: -9999px;
    }
    .type-interior .content-primary {
        padding: 1.5em 5% 3em 0;
        margin: 0;
    }

    .content-secondary .ui-collapsible-heading {
        display: none;
    }
    .content-secondary .ui-collapsible-contain {
        margin:0;
    }
    .content-secondary .ui-collapsible-content {
        display: block;
        margin: 0;
        padding: 0;
    }
    .type-interior  .content-secondary .ui-li-divider {
        padding-top: 1em;
        padding-bottom: 1em;
    }
    .type-interior .content-secondary {
        margin: 0;
        padding: 0;
    }

}
@media all and (min-width: 750px){
    .type-home .ui-content,
    .type-interior .ui-content {
        background-position: 39%;
    }
    .content-secondary {
        width: 34%;
        display:block;
    }
    .content-primary {
        width: 56%;
        padding-right: 1%;
    }	
    .type-interior .ui-content {
        background-position: 34%;
    }
}

@media all and (min-width: 1200px){
    .type-home .ui-content{
        background-position: 38.5%;
    }
    .type-interior .ui-content {
        background-position: 407px;
    }
    .content-secondary {
        width: 407px;
        padding-right:6%;
        margin: 30px 0 20px 5%;
        display:block;
    }
    .content-primary {
        width: 50%;
        margin-right: 5%;
        padding-right: 3%;
    }
    .type-interior .content-primary {
        width: 60%;
    }
}